body {
  margin: auto;
  margin-top: -20px;

  font-family: "Arial", sans-serif;
  background-color: #e9ecef;
  color: #333;
}

.App {
  text-align: center;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 20px;
  background-color: #343a40;
  margin-bottom: 20px;
}

.navbar li a {
  color: #f8f9fa;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar li a:hover {
  color: #ffc107;
  text-decoration: underline;
}
